<h2>Spielen</h2>
<div id="controls" class="row">
  <div class="col-lg-12">
    Jahre: <select #t (change)="setYear(t.value)"><option *ngFor="let year of years">{{year}}</option></select>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table *ngIf="matches && matches.length > 0" class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Datum</th>
          <th>Spiel</th>
          <th>Entstand</th>
          <th>Austragungsort</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td>{{match.date | date}}</td>
          <td>{{match.homeTeamName}} - {{match.awayTeamName}}</td>
          <td>{{match.homeScore}} : {{match.awayScore}}</td>
          <td>{{match.locationCity}}, {{match.locationCountry}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!matches || matches.length == 0" class="alert alert-primary" role="alert">
      <strong>Prost Mahlzeit!</strong> Es gibt keine Aufzeichnungen für dieses Jahr.
    </div>
    <nav>
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{active: (page==currentPage)}"><a class="page-link" (click)="setPage(page)">{{page}}</a></li>
      </ul>
    </nav>
  </div>
</div>
