<div id="controls" class="row">
  <div class="col-lg-12">
    Jahre: <select #t (change)="onChange(t.value)"><option *ngFor="let year of years">{{year}}</option></select>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>Datum</th>
          <th>Spiel</th>
          <th>Entstand</th>
          <th>Austragungsort</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td>{{match.date | date}}</td>
          <td>{{match.homeTeamName}} - {{match.awayTeamName}}</td>
          <td>{{match.homeScore}}:{{match.awayScore}}</td>
          <td>{{match.locationCity}}, {{match.locationCountry}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
