<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: lightblue;"><i class="fa fa-futbol"></i>&nbsp;<span i18n>EKFG</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['map']" routerLinkActive="active" i18n>Karte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['matches']" routerLinkActive="active" i18n>Spielen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['teams']" routerLinkActive="active" i18n>Teams</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <br/>
  <router-outlet></router-outlet>
</div>
<div class="footer text-center" style="margin-top: 20px; margin-bottom: 20px;">
  <img src="../assets/pivotal-cf.png">
</div>
