<h2>Eine Kleine Fußball Geschichte</h2>
<div id="controls" class="row">
  <div class="col-lg-12">
    Jahre: <select #t (change)="setYear(t.value)"><option *ngFor="let year of years">{{year}}</option></select>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <agm-map [latitude]="0" [longitude]="0" [zoom]="2" [minZoom]="1">
      <agm-marker *ngFor="let match of matches" [latitude]="match.location.latitude" [longitude]="match.location.longitude"></agm-marker>
    </agm-map>
  </div>
</div>
